@model IEnumerable<Destino_Certo.Models.PessoaModel>

@{
    ViewData["Usuarios"] = "active";

}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Usuários</h2>
          <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Usuários</li>
          </ol>
        </div>

      </div>
     
    <div class="container pt-4">
</section>
      <!--Section: Tabela Perfomance-->
       <section class="container" style="margin-top:-40px;margin-bottom:-100px;">
          <div class="col3">
              <a asp-action="Create" class="btn btn-success">Incluir Novo Usuário</a>
          </div>
      </section>
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Usuários</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                  </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                  <tr>
                    <th scope="row"><img src="/img/login/login.png" alt="Avatar Logo" style="width:40px; margin-left:40px;" class="rounded-pill"></th>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                    <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Detalhes</a>  
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Editar</a>  
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Excluir</a>
                   </td>
                  </tr>
                    }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

